// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/utilities";

header {
    background: theme-color("primary");
    
    nav {
        a {
            color: color-yiq(theme-color("primary"));
            &:hover {
                color: color-yiq(theme-color("primary"));
                opacity: 0.8;
            }
        }
    }
}

main {
    
}

.brand {
    font-weight: bold;
}

footer {
    background: #242729;
    color: darkgrey;
    font-size: 0.8rem;
}